#canvas {
  width: 100%;
  height: 800px;
}
#js-properties-panel {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 260px;
  z-index: 10;
  border-left: 1px solid #ccc;
  overflow: auto;
}

@import '~bpmn-js/assets/bpmn-font/css/bpmn.css';

